<!DOCTYPE html>
<html{% if _.lang is defined %} lang="{{ _.lang }}"{% endif %}>
    <head>
    {% block head %}
        <meta charset="{{ _.charset|default('utf-8') }}" />
        <title>{{ _.title|default('') }}</title>
        <link rel="stylesheet" type="text/css" href="/src/css/parsley-lite.css" />
    {% endblock %}
    </head>
    <body>
    {% block body %}
        <div id="body-content">
        {% block bodyContent %}
        
        {% endblock %}
        </div>
    {% endblock %}
    </body>
</html>
